---
const { IMAGE_CDN_URL } = import.meta.env;
---

<footer class="grid gap-7 text-center px-4 py-16 bg-birch relative z-20">
  <div class="flex gap-3 justify-center">
    <a
      title="Link to Facebook Account"
      href="https://www.facebook.com/sonnet.lamb"
      target="_blank"
      rel="noopener"
    >
      <img
        src=`${IMAGE_CDN_URL}Facebook.png?v=1744375842`
        alt="facebook logo"
        width="20px"
        height="20px"
        loading="lazy"
      />
    </a>
    <a
      title="Link to Instagram Account"
      href="https://www.instagram.com/sonnetlamb"
      target="_blank"
      rel="noopener"
    >
      <img
        src=`${IMAGE_CDN_URL}Instagram.webp?v=1744375893`
        alt="instagram logo"
        width="20px"
        height="20px"
        loading="lazy"
      />
    </a>
  </div>
  <p class="text-base text-black">
    ©2023 by Sonnet Lamb.<br />Proudly built by her husband
  </p>
</footer>
