---
import SiteLinks from "../client/SiteLinks.astro";
---

<header
  class="w-full max-w-7xl mx-auto flex justify-between items-center p-4 md:py-9 relative md:z-20 bg-white"
>
  <a class="text-xl/10 md:text-2xl" href="/">SONNET LAMB</a>
  <nav>
    <SiteLinks />
  </nav>
</header>
