---
import SiteLinks from "../client/SiteLinks.astro";
---

<header
  class="w-full max-w-7xl mx-auto flex justify-between items-center p-5 md:py-7 relative md:z-20 bg-white"
  transition:persist
>
  <a class="z-30 relative text-xl md:text-2xl tracking-tight uppercase" href="/"
    >Sonnet Lamb</a
  >
  <nav>
    <SiteLinks />
  </nav>
</header>
