---
import ContactForm from "../client/ContactForm.astro";
const { IMAGE_CDN_URL } = import.meta.env;
---

<section class="w-full md:grid md:grid-cols-2 bg-birch h-full">
  <img
    class="w-full h-72 sm:h-96 md:h-[725px] object-cover md:object-[50%_75%]"
    src=`${IMAGE_CDN_URL}15312d_87e0a00d25c44421845f8a6a2a0cc6cb_mv2_d_2240_3360_s_2_1.webp?v=1744401582`
    alt="Sonnet Lamb Posing"
  />
  <ContactForm />
</section>
