---
const { IMAGE_CDN_URL } = import.meta.env;
---

<section class="flex flex-col items-center justify-center">
  <div class="relative grid min-h-[400px] w-full">
    <img
      alt="Sonnet greeting a little fan"
      class="hidden lg:flex w-full brightness-90 object-cover max-h-[600px]"
      src=`${IMAGE_CDN_URL}Sonnet-greets-fan.jpg?v=1743797726`
    />
    <img
      alt="Sonnet greeting a little fan"
      class="h-[400px] md:h-[600px] lg:hidden w-full brightness-90 object-cover"
      src=`${IMAGE_CDN_URL}Sonnet-greets-fan-mobile.jpg?v=1743797725`
    />
    <div
      class="absolute bottom-0 inset-x-0 grid gap-1 md:gap-5 text-white md:pb-12 max-w-5xl mx-auto p-4 text-left"
    >
      <h3 class="text-2xl md:text-5xl">CURRENT PROJECTS</h3>
      <p class="text-sm md:text-lg backdrop-blur-xs w-fit">
        Most recently, Sonnet produced a New York City Cabaret alongside some
        very dear and talented friends. It was standing room only and a huge
        success! Sonnet also worked as the Title Role in the premiere of a brand
        new musical titled
        <span class="italic">The Glassblower's Daughter</span>. It premiered in
        October 2021 in Boston, MA. She was also seen starring as mean girl
        Sabrina in a new musical titled
        <span class="italic">Rainbow Ring</span> in June 2022 in NYC.
      </p>
    </div>
  </div>
  <div class="relative grid min-h-[400px] w-full">
    <img
      class="h-[400px] md:h-full w-full object-cover object-[25%_0%]"
      alt="Sonnet as Anne Egerman"
      src=`${IMAGE_CDN_URL}litte-night-music.webp?v=1743797757`
    />
    <div
      class="absolute top-0 inset-x-0 grid gap-5 text-white md:p-12 max-w-7xl mx-auto p-4 text-left"
    >
      <p class="text-sm md:text-lg backdrop-blur-xs w-fit">
        Theatre Tulsa's <span class="italic">A Little Night Music</span> promo photo.
        Sonnet starred as Anne Egerman in early Spring 2020.
      </p>
    </div>
  </div>
</section>
