<section
  class="flex flex-col w-full gap-5 md:gap-8 items-center p-5 max-w-7xl mx-auto"
>
  <div class="grid gap-2 w-full">
    <h2 class="text-lg md:text-3xl">REEL</h2>
    <div class="w-full h-72 md:h-[600px]">
      <iframe
        class="h-full w-full"
        src="https://www.youtube-nocookie.com/embed/VNx2dWbYsnM"
        referrerpolicy="no-referrer-when-downgrade"
        title="Sonnet Lamb Self Tape Reel"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
  <div class="grid gap-2 w-full">
    <h2 class="text-lg md:text-3xl">SELF TAPE</h2>
    <div class="w-full h-72 md:h-[600px]">
      <iframe
        class="h-full w-full"
        src="https://www.youtube-nocookie.com/embed/yzVzNduzhnw"
        referrerpolicy="no-referrer-when-downgrade"
        title="Sonnet Lamb Self Tape Reel"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
  <div class="grid gap-2 w-full">
    <h2 class="text-lg md:text-3xl">ON SCREEN</h2>
    <div class="w-full h-72 md:h-[600px]">
      <iframe
        class="h-full w-full"
        src="https://www.youtube-nocookie.com/embed/_AgJLTc_83Y"
        referrerpolicy="no-referrer-when-downgrade"
        title="Sonnet Lamb Self Tape Reel"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</section>
