---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import test from "./../assets/doula/IMG_2760_jpg.jpg";
---

<BaseLayout
  description="Sonnet Lamb's website - Find more information about Sonnet Lamb, her work, and her journey."
>
  <section class="max-w-5xl mx-auto md:pb-5 bg-bg items-center justify-center flex flex-col md:flex-row gap-8 md:gap-10 lg:gap-16 text-fg">
    <div class="w-full md:w-2/3 relative">
      <Image src={test} alt="Sonnet Lamb" class="md:rounded-lg w-full brightness-75 object-cover md:h-[600px]" layout="constrained"/>
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="grid gap-2 px-1 md:px-10 lg:px-20">
          <h1 class="text-4xl font-medium text-center text-footer uppercase">Birth Doula</h1>
          <p class="flex items-center text-base font-normal text-center text-footer uppercase">Pregnancy <span class="mx-3">|</span> Birth <span class="mx-3">|</span> Postpartum</p>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 px-5 md:px-0 grid gap-4 md:gap-6">
      <div class="grid gap-1">
        <p class="text-sm font-medium uppercase">NYC Based</p>
        <p class="text-3xl md:text-4xl font-extralight">Passionate Care For Every Birth Story</p>
      </div>
      <hr class="border-t border-accent"/>
      <p class="text-base md:text-lg">Supporting women through their birth journeys and empowering them through pregnancy and postpartum fitness.</p>
      <a
        class="mb-10 md:mb-0 transition-all duration-300 rounded-[50px] hover:bg-accent border hover:text-white border-accent px-5 py-2.5 w-full md:w-fit text-center"
        href='/contact'
      >
        Schedule an Interview
      </a>
    </div>
  </section>
</BaseLayout>
