---
import BaseLayout from "../layouts/BaseLayout.astro";
const { IMAGE_CDN_URL } = import.meta.env;
---

<BaseLayout
  title="Doula Services"
  description="Sonnet Lamb's doula services page. Here you can find information about the doula services offered by Sonnet Lamb."
>
  <section class="flex flex-col items-center justify-center">
    <h1>Doula Services</h1>
  </section>
</BaseLayout>
