---
const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="sitemap" href="/sitemap-index.xml" />
<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://sonnetlamb.com/" />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content="https://sonnetlamb.com/_astro/IMG_2760_jpg.DijcBNwV_Z1GFWsd.webp"
/>
<meta property="og:image:alt" content="Sonnet Lamb - Christian Birth Doula" />
