---
const { pathname } = Astro.url;
const isActingSite = pathname.startsWith("/acting");

type Link = {
  href: string;
  label: string;
};

let links: Link[] = [];

if (isActingSite) {
  links = [
    { href: `/acting/reels`, label: "Reels" },
    { href: `/acting/gallery`, label: "Gallery" },
    { href: `/acting/about`, label: "About" },
    { href: `/acting/news`, label: "News" },
    { href: `/acting/contact`, label: "Contact" },
    { href: `/`, label: `Doula` },
  ];
} else {
  links = [
    { href: "/aboutme", label: "About Me" },
    { href: "/services", label: "Services" },
    { href: "/contact", label: "Contact" },
    { href: `/acting`, label: `Acting` },
  ];
}
const hamburgerSharedClasses =
  "group-[[data-active='true']]:translate-y-0 group-[[data-active='true']]:translate-x-[3.5px] group-[[data-active='true']]:w-7 bg-fg w-full transition-all duration-250 absolute h-[1px] top-0 left-0 bottom-0 block m-auto ease-hamburger";
---

<style>
  [href="/"]:after,
  [href="/acting"]:after {
    font-size: 8px;
    content: "↗";
  }
</style>

<site-links>
  <ul
    data-menu
    data-active="false"
    class="group transition-all md:transition-none duration-300 opacity-0 bg-nav data-[active=true]:opacity-100 -z-50 md:z-0 data-[active=true]:fixed data-[active=true]:z-20 text-center pt-32 md:pt-0 absolute justify-center items-center left-0 top-0 h-screen w-screen md:size-full md:opacity-100! md:relative! md:grid md:grid-flow-col"
  >
    {
      links.map(({ href, label }, idx) => {
        return (
          <li
            style={`transition-delay: ${idx * 50}ms;`}
            class="translate-y-20 opacity-0 group-[[data-active='true']]:opacity-100 group-[[data-active='true']]:translate-y-0 transform-all md:translate-y-0 md:opacity-100 duration-300 ease-hamburger"
          >
            <a
              aria-current={pathname === href ? "page" : undefined}
              class="text-xl/[50px] md:text-sm px-2.5 aria-[current='page']:underline aria-[current='page']:decoration-1 aria-[current='page']:underline-offset-[6px] aria-[current='page']:decoration-fg"
              href={href}
              data-astro-prefetch="viewport"
            >
              {label}
            </a>
          </li>
        );
      })
    }
    { !isActingSite ? (
      <li
        style={`transition-delay: ${links.length * 50}ms;`}
        class="md:hidden translate-y-[100vh] bottom-0 relative flex justify-center opacity-0 px-5 group-[[data-active='true']]:opacity-100 group-[[data-active='true']]:translate-y-[35vh] transform-all md:translate-y-0 md:opacity-100 duration-300 ease-hamburger"
      >
        <a
          class="h-12 w-fit transition-all duration-300 rounded-[50px] hover:bg-accent border hover:text-white border-accent px-5 py-2.5 text-center"
          href='/contact'
        >
          Schedule an Interview
        </a>
      </li>
    ) : null }
  </ul>
  <figure
    id="menu-trigger"
    class="group relative md:hidden z-20 h-7 w-9 flex items-center px-2 cursor-pointer"
    data-active="false"
  >
    <span
      class={`${hamburgerSharedClasses} translate-y-[-5.5px] group-[[data-active='true']]:rotate-[-135deg]`}
    ></span>
    <span
      class={`${hamburgerSharedClasses} translate-y-[5.5px] group-[[data-active='true']]:rotate-[135deg]`}
    ></span>
  </figure>
</site-links>

<script>
  class SiteLinks extends HTMLElement {
    private activeMenu: boolean;
    private menu: HTMLElement | null;
    private menuTrigger: HTMLElement | null;
    links: NodeListOf<HTMLElement> | null;

    constructor() {
      super();
      this.activeMenu = false;
      this.menu = null;
      this.menuTrigger = null;
      this.links = null;
    }

    connectedCallback() {
      this.menuTrigger = this.querySelector("#menu-trigger");
      this.menu = this.querySelector("[data-menu]");
      this.links = this.querySelectorAll("a");

      if (this.menuTrigger) {
        this.menuTrigger.addEventListener("click", this.toggleMenu);
      }
      document.addEventListener("astro:page-load", this.handleViewTransition);
    }

    updateLinkStates = () => {
      const { pathname } = window.location;
      if (!this.links) return;
      this.links.forEach((link) => {
        const href = link.getAttribute("href");
        if (href === pathname) {
          link.setAttribute("aria-current", "page");
        } else {
          link.removeAttribute("aria-current");
        }
      });
    };

    toggleMenu = () => {
      if (!this.menu || !this.menuTrigger) return;

      this.activeMenu = !this.activeMenu;
      this.menu.dataset.active = this.activeMenu ? "true" : "false";
      this.menuTrigger.dataset.active = this.activeMenu ? "true" : "false";
      document.body.classList.toggle("overflow-hidden", this.activeMenu);
      document.body.classList.toggle("fixed", this.activeMenu);
    };

    handleViewTransition = () => {
      if (this.activeMenu) this.toggleMenu();
      this.updateLinkStates();
      this.updateTheme();
    };

    updateTheme = () => {
      const { pathname } = window.location;
      const isActing = pathname === "/acting" || pathname.startsWith("/acting/");
      document.documentElement.dataset.theme = isActing ? "acting" : "earthy";
    };

    disconnectedCallback() {
      if (this.menuTrigger) {
        this.menuTrigger.removeEventListener("click", this.toggleMenu);
      }
      document.removeEventListener(
        "astro:page-load",
        this.handleViewTransition,
      );
    }
  }

  customElements.define("site-links", SiteLinks);
</script>
