---
const { title, description } = Astro.props;
import Header from "../layouts/Nav.astro";
import Footer from "../layouts/Footer.astro";
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/montserrat";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>Sonnet Lamb - {title}</title>
    <ClientRouter />
  </head>
  <body class="size-full font-extralight text-[#333333]">
    <Header />
    <main class="bg-birch">
      <slot />
    </main>
    <Footer />
  </body>
</html>
